# Step 1: Libraries and Function Definitions

1. Import necessary libraries (pandas and NearestNeighbors from sklearn.neighbors).
2. Define two functions: get_movie_recommendations and exceptions.

In [2]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors

# Step 2: get_movie_recommendations Function

1. This function takes a user ID and a movie genre as inputs to recommend movies.
2. Merges two DataFrames (df and de) based on a shared column.
3. Filters movies by the specified genre.
4. Creates a user-movie matrix based on ratings and fills NaN values with 0.
5. Uses Nearest Neighbors algorithm (NearestNeighbors) with cosine similarity to find similar users.
6. Retrieves similar movies watched by those users and recommends movies the target user hasn't rated yet.

In [3]:
def get_movie_recommendations(userid,genre):
    ae=pd.merge(df,de)
    movie_ratings_df=ae.loc[ae['genres']==genre]
    #Creates a user-movie matrix where rows represent users, columns represent movies, and values are ratings. This matrix fills missing values (movies not rated by a user) with 0.
    user_movie_matrix = movie_ratings_df.pivot(index='userId', columns='movieId', values='rating').fillna(0)
    model = NearestNeighbors(metric='cosine', algorithm='brute')
    model.fit(user_movie_matrix)
    #Finding Similar Users
    target_user_ratings = user_movie_matrix.loc[userid].values.reshape(1, -1)
    distances, indices = model.kneighbors(target_user_ratings, n_neighbors=11) 
    #Extracting Movie Recommendations
    similar_users_movie_ids = user_movie_matrix.iloc[indices.flatten()[1:]] \
        .replace(0, pd.NA) \
        .stack() \
        .dropna() \
        .index.get_level_values('movieId') \
        .unique()

    movies_already_rated = movie_ratings_df[movie_ratings_df['userId'] == userid]['movieId'].tolist()
    recommended_movies = [movie_id for movie_id in similar_users_movie_ids if movie_id not in movies_already_rated][:10]
    #Creating Recommendations DataFrame
    aw=pd.DataFrame(recommended_movies)
    aw.columns=['movieId']
    recommendations=pd.merge(aw,movie_ratings_df)
    aq=recommendations.drop_duplicates(subset="title")
    return aq[['movieId','title']]

# Step 3: exceptions Function

1. This function also takes a user ID and a movie genre as inputs.
2. Merges two DataFrames (df and de) similarly.
3. Checks if the user has rated any movies in the specified genre.
4. If the user has not rated any movies in that genre, it sorts movies by rating and recommends the top 10 movies in that      genre.
5. If the user has rated movies in that genre, it calls the get_movie_recommendations function to get recommendations.

In [4]:
def exceptions(usid,genre):
    movie=pd.merge(df,de)
    au=movie.loc[movie["genres"]==genre]
    a=au.loc[au["userId"]==usid]
    #If the User Hasn't Rated Movies in the Genre
    if a.empty==True:
        ae=movie.sort_values(by='rating',ascending=False)
        ar=ae.loc[ae['genres']==genre]
        aa=ar.drop_duplicates()
        return aa[['movieId','title']].head(10)
    #If the User Has Rated Movies in the Genre
    else:
        az=get_movie_recommendations(usid,genre)
        return az

# Step 4: Data Loading

1. Reads CSV files into DataFrames (df and de) from specified file paths.
2. Sets Pandas display options for better output formatting.

In [5]:
num=0
df=pd.read_csv(r"C:\Users\HITESH KUMAR\Downloads\movies (1).csv")
de=pd.read_csv(r"C:\Users\HITESH KUMAR\Downloads\ratings.csv")

# Step 5: User Interaction

1. Initiates a while loop to interact with the user.
2. Asks the user for their ID and checks if it's valid (less than or equal to 610).
3. Displays a menu for user actions:
4. Display top 10 movies rated by the user.
5. Recommend movies based on genre preference.
6. Exit the program.
7. Based on user input, the code performs different actions:
8. Display top movies rated by the user.
9. Ask for the preferred genre and display recommended movies accordingly.
10. Exit the program when the user chooses to do so.

In [6]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 0)
while num!=3:
    print("Enter your user id")
    userid=int(input(" "))
    if int(userid) > 610 :
        print("No user found")
    else:
        while num!=3:
            print("What do you want to do")
            print("(1) Top 10 Movies")
            print("(2) Look Movie according to your preference")
            print("(3) Exit")
            num=int(input(" "))
            if num==1:
                movie=de.loc[de['userId']==userid]
                ad=pd.merge(df,movie)
                ae=ad.sort_values(by='rating',ascending=False)
                display(ae.head(10)[["movieId","title"]])
            elif num==2:
                print("(1) Adventure")
                print("(2) Comedy")
                print("(3) Action")
                print("(4) Animation")
                print("(5) Drama")
                print("(6) Romance")
                print("Please choose")
                ss=int(input(" "))
                if ss ==1:
                    display(exceptions(userid,"Adventure"))
                elif ss==2:
                    display(exceptions(userid,"Comedy"))
                elif ss==3:
                    display(exceptions(userid,"Action"))
                elif ss==4:
                    display(exceptions(userid,"Animation"))
                elif ss==5:
                    display(exceptions(userid,"Drama"))
                elif ss==6:
                    display(exceptions(userid,"Romance"))
                else:
                    print("Wrong option")  
            elif num==3:
                print("Good Bye")
            else:
                print("Wrong option")

Enter your user id
 10
What do you want to do
(1) Top 10 Movies
(2) Look Movie according to your preference
(3) Exit
 1

     movieId                          title
139  140110   The Intern (2015)
48   8869     First Daughter (2004)
117  96079    Skyfall (2012)
110  91529    Dark Knight Rises, The (2012)
42   7458     Troy (2004)
100  81845    King's Speech, The (2010)
44   8533     Notebook, The (2004)
97   79091    Despicable Me (2010)
86   71579    Education, An (2009)
57   33794    Batman Begins (2005)

What do you want to do
(1) Top 10 Movies
(2) Look Movie according to your preference
(3) Exit
 2
(1) Adventure
(2) Comedy
(3) Action
(4) Animation
(5) Drama
(6) Romance
Please choose
 2

     movieId                               title
0    186      Nine Months (1995)
48   339      While You Were Sleeping (1995)
146  357      Four Weddings and a Funeral (1994)
249  539      Sleepless in Seattle (1993)
355  587      Ghost (1990)
470  1265     Groundhog Day (1993)
613  1569     My Best Friend's Wedding (1997)
653  2424     You've Got Mail (1998)
703  2724     Runaway Bride (1999)
745  4069     Wedding Planner, The (2001)

What do you want to do
(1) Top 10 Movies
(2) Look Movie according to your preference
(3) Exit
 3
Good Bye

# Conclusion

This movie recommendation system offers personalized movie suggestions based on user preferences and ratings, allowing users to explore top-rated movies and discover new ones across different genres. Through an intuitive interface, it leverages collaborative filtering techniques and the Nearest Neighbors algorithm to suggest movies that align with users' tastes, fostering an engaging and user-centric movie exploration experience.

In [14]:
print(ae)

    movieId                                       title     genres Unnamed: 3  \
2   1193     One Flew Over the Cuckoo's Nest (1975)      Drama      NaN
6   3567     Bossa Nova (2000)                           Comedy     Drama
14  3624     Shanghai Noon (2000)                        Action     Adventure
7   3578     Gladiator (2000)                            Action     Adventure
17  3719     Love's Labour's Lost (2000)                 Comedy     Romance
10  3616     Loser (2000)                                Comedy     Romance
0   337      What's Eating Gilbert Grape (1993)          Drama      NaN
22  3785     Scary Movie (2000)                          Comedy     Horror
20  3755     Perfect Storm, The (2000)                   Drama      Thriller
19  3753     Patriot, The (2000)                         Action     Drama
16  3717     Gone in 60 Seconds (2000)                   Action     Crime
12  3618     Small Time Crooks (2000)                    Comedy     Crime
8   3580     Up at the Villa (2000)                      Drama      NaN
3   1272     Patton (1970)                               Drama      War
1   924      2001: A Space Odyssey (1968)                Adventure  Drama
13  3623     Mission: Impossible II (2000)               Action     Adventure
15  3646     Big Momma's House (2000)                    Comedy     NaN
9   3615     Dinosaur (2000)                             Adventure  Animation
4   3099     Shampoo (1975)                              Comedy     Drama
11  3617     Road Trip (2000)                            Comedy     NaN
18  3752     Me, Myself & Irene (2000)                   Adventure  Comedy
5   3564     Flintstones in Viva Rock Vegas, The (2000)  Children   Comedy
21  3784     Kid, The (2000)                             Comedy     Fantasy
23  3797     In Crowd, The (2000)                        Thriller   NaN
24  3826     Hollow Man (2000)                           Horror     Sci-Fi

   Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  \
2   NaN        NaN        NaN        NaN        NaN        NaN
6   Romance    NaN        NaN        NaN        NaN        NaN
14  Comedy     Western    NaN        NaN        NaN        NaN
7   Drama      NaN        NaN        NaN        NaN        NaN
17  NaN        NaN        NaN        NaN        NaN        NaN
10  NaN        NaN        NaN        NaN        NaN        NaN
0   NaN        NaN        NaN        NaN        NaN        NaN
22  NaN        NaN        NaN        NaN        NaN        NaN
20  NaN        NaN        NaN        NaN        NaN        NaN
19  War        NaN        NaN        NaN        NaN        NaN
16  NaN        NaN        NaN        NaN        NaN        NaN
12  NaN        NaN        NaN        NaN        NaN        NaN
8   NaN        NaN        NaN        NaN        NaN        NaN
3   NaN        NaN        NaN        NaN        NaN        NaN
1   Sci-Fi     NaN        NaN        NaN        NaN        NaN
13  Thriller   NaN        NaN        NaN        NaN        NaN
15  NaN        NaN        NaN        NaN        NaN        NaN
9   Children   NaN        NaN        NaN        NaN        NaN
4   Romance    NaN        NaN        NaN        NaN        NaN
11  NaN        NaN        NaN        NaN        NaN        NaN
18  NaN        NaN        NaN        NaN        NaN        NaN
5   NaN        NaN        NaN        NaN        NaN        NaN
21  NaN        NaN        NaN        NaN        NaN        NaN
23  NaN        NaN        NaN        NaN        NaN        NaN
24  Thriller   NaN        NaN        NaN        NaN        NaN

   Unnamed: 10 Unnamed: 11  userId  rating  timestamp
2   NaN         NaN         333     5.0     965671389
6   NaN         NaN         333     5.0     965671669
14  NaN         NaN         333     4.0     965671576
7   NaN         NaN         333     4.0     965671624
17  NaN         NaN         333     4.0     965671749
10  NaN         NaN         333     4.0     965671749
0   NaN         NaN         333     3.0     965671389
22  NaN         NaN         333     3.0     965671576
20  NaN         NaN         333     3.0     965671624
19  NaN         NaN         333     3.0     965671472
16  NaN         NaN         333     3.0     965671669
12  NaN         NaN         333     3.0     965671576
8   NaN         NaN         333     3.0     965671669
3   NaN         NaN         333     3.0     965671472
1   NaN         NaN         333     2.0     965671389
13  NaN         NaN         333     2.0     965671715
15  NaN         NaN         333     2.0     965671624
9   NaN         NaN         333     2.0     965671669
4   NaN         NaN         333     2.0     965671389
11  NaN         NaN         333     1.0     965671715
18  NaN         NaN         333     1.0     965671715
5   NaN         NaN         333     1.0     965671775
21  NaN         NaN         333     1.0     965671715
23  NaN         NaN         333     1.0     965671775
24  NaN         NaN         333     1.0     965671576